{% extends "layout.html" %}
{% block body %}


<div class="container-fluid" style="display: flex;">
    <div style="width:20%;justify-content: left;">
        <ul style="list-style-type: none; overflow-y: auto; height: 500px;padding: 5%;">
            {% for title in cloud_title %}
           <li><a href="/cloudpost/{{title.slug}}">{{ title.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div style="justify-content: right;width: 80%; height: auto;padding:5%;">
        
        <!-- {{cloud_post.title}}
        {{cloud_post.content}}
        {{cloud_post.date}}
 -->    
        <div>
            <h2>{{cloud_post.title}}</h2>
            <span>{{cloud_post.date}}</span>
            <br/><br/>
            <div>{{cloud_post.content}}</div>
        </div>

    </div>
</div>

{% endblock %}