{% extends "layout.html" %}
{% block body %}

<div class="container my-5 text-center" style="width: 50%;">
    <form action="/signup" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  
  <button type="submit" class="btn btn-primary" onclick="login()">login</button>
</form>
</div>

{% endblock %}