{% extends "layout.html" %}
{% block body %}


<div class="container-fluid" style="display: flex;">
    <div style="width:20%;justify-content: left;">
        <ul style="list-style-type: none; overflow-y: auto; height: 500px;padding: 5%;">
            {% for title in titles %}
           <li><a href="{{title.href}}"+"/{{title.slug}}">{{ title.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div style="justify-content: right;width: 80%; height: auto;padding:5%;">
        
        {{post.title}}
        {{post.content}}
        {{post.date}}

    </div>
</div>

{% endblock %}